*{
    margin: 0;
    padding: 0; 
 }
 
 h1{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
   font-weight: 500;
   margin-left:  50%;
   padding-top: 100px ;

 }

 .add{

    height: 30px;
    width: 50px;
 }

 .logo_delete{
 cursor: pointer;
 margin-left: 20px;


 }

 .logo_delete:hover{
   opacity: 80%;
 }
 
 .input {
    /* display: block;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 30px;
    width: 300px;
   /* margin-right:20px;*/
    padding-left: 5px;
 }

 .message{

    width: 200px;

 }
 
 
 /*.main {
     align-items: center;
     justify-content: center;
     display: flex;
     height: 100%;
     width: 100%;
 
 }*/
           
 /*.contenedor_tarea{
     background-color: aliceblue;
     box-sizing: border-box;
     display: flex;
     height: 300px;
     width: 300px;
     margin-left: 50%;
     padding: 40px 0 10px 10px ;
    
       
 }*/

    
 .write_tarea{
    align-items: center;
    background-color: lightpink;
    justify-content: center;
    display: flex;
    height: 50px;
    width: 400px;
    margin-left: 50%;
   
 
}
.showList{
    background-color: lavenderblush;
    display: flex;    
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
    margin-left: 50%;

}
 
 .tarea{
     display: flex;
     border: 1px solid grey;
     height: 25px;
     width:200px ;
     margin-right: 30px;
     
 
 }
